name: Run Test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  make:
    runs-on: macos-latest

    defaults:
      run:
        shell: zsh -e -l {0}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Dotfiles
        run: make

      - name: miseでPythonをインストールできるか確認
        run: |
          mise use -g python@3.12
          python --version | grep -q "^Python 3\.12\." || exit 1

      - name: miseでNode.jsをインストールできるか確認
        run: |
          mise use -g node@22
          node --version | grep -q "^v22\." || exit 1